{% extends 'layout.html' %}

{% block styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/portfolio.css">
{% endblock styles %}

{% block title %}
    <title>Foodfy</title>
{% endblock title %}

{% block content %}

    <div id="wrapper">
        <h1>portfolio</h1>

    </div>

    <section class="cards">

        <div class="card" id="Ab33948mbW8">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/Ab33948mbW8/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BoBaSHpZhyk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BoBaSHpZhyk/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BoBaSHpZhyk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BoBaSHpZhyk/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BoBaSHpZhyk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BoBaSHpZhyk/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BoBaSHpZhyk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BoBaSHpZhyk/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BoBaSHpZhyk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BoBaSHpZhyk/maxresdefault.jpg" alt="EU">
            </div>

            <div class="card_content">
                <p>
                    Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>

            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

    </section>

    <div class="modal-overlay hide">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="https://youtube.com/embed/Ab33948mbW8" frameborder="0"></iframe>
            </div>
        </div>

        <script src="scripts/classes.js"></script>
{% endblock content %}